/* Styling for the header */

.pink {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e21b70;
    color: white;
    font-size: 23px;

}


.acc {
    font-size: 23px;
    text-align: center;
}

#psign {
    background-color: #e21b70;
    color: white;
    border-radius: 10px;
    border-color: white;
    padding: 10px;
    margin: 10px;
    font-size: large;
}

#psign:hover {
    transform: scale(1.1);
}

#psign:active {
    background-color: white;
    color: #e21b70;
}

/* Styling for navbar */

* {
    text-decoration: none;
}

.navbar {
    background-color: white;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 85px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    font-weight: bold;
    margin-right: 50px;
}

button {
    margin-right: 20px;
}

#login {
    background-color: white;
    color: #e21b70;
    border-color: #e21b70;
    border-radius: 10px;
    padding: 10px;
    width: 70px;
    font-weight: bold;
}

#login:hover {
    transform: scale(1.1);
}

#signup {
    background-color: #e21b70;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
    font-weight: bold;
    border: #e21b70;
}

#signup:hover {
    transform: scale(1.1);
}

select {
    margin-right: 25px;
    border: none;
}

li a {
    margin-right: 180px;
    margin-top: 5px;

}

.cart:hover {
    transform: scale(1.3);
}

.lang:hover {
    transform: scale(1.1);
}

/* Styling for the foodpanda image section  */

/* .section1 {
    background-color: whitesmoke;

}

#divimg {
    margin-left: 900px;
    margin-top: -500px;
}

.locate {
    margin-top: 450px;
    margin-right: 500px;
}

.divtext1 {
    /* font-weight: bold;
    font-size: x-large; */
/* margin-left: 100px; */
/* margin-top: 500px; */

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 50px;
}

.text-and-search {
    flex: 1;
    max-width: 600px;
}

.locate {
    margin-top: 20px;
    font-size: xxx-large;
}

/* .food {
    background-color: #e21b70;
    color: #ffffff;
    border-radius: 10px;
    height: 30px;
}

.food:hover {
    transform: scale(1.1);
} */

.searchbar {
    width: 100;
    display: flex;
    border-radius: 60px;
    padding: 10px 20px;
}

.searchbar input {
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
}

.searchbar button {
    border: none;
    background-color: #e21b70;
    color: #ffffff;
    border-radius: 10px;
}

.searchbar button:hover {
    transform: scale(1.1);
}

#divimg {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#divimg img {
    max-width: 100%;
    height: auto;
}

.divtext1 {
    margin-bottom: 20px;
}

.locatepara {
    font-size: xxx-large;
}



/* Images section styling */

.find-us {
    margin-top: 90px;
    margin-left: 110px;
    font-family: "Open Sans", "arial", "sans-serif";
}

.city1 {
    width: 310px;
    height: 252px;
}

.isb {
    margin-left: 110px;
    width: 310px;
    height: 252px;
    transition: all 0.2s linear;
    border-radius: 20px;
}

.isb:hover {
    transform: scale(1.1);
}

.isb-but {
    margin-left: 120px;
    margin-top: -50px;
    font-size: 18px;
    position: absolute;
    background-color: #ffffff;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.city2 {
    width: 310px;
    height: 250px;
}

.khi {
    display: flex;
    margin-top: -250px;
    width: 310px;
    height: 250px;
    border-radius: 20px;
    margin-left: 460px;
    transition: all 0.2s linear;
}

.khi:hover {
    transform: scale(1.1);
}

.khi-but {
    margin-left: 470px;
    margin-top: -50px;
    position: absolute;
    border-radius: 20px;
    border: none;
    width: 60x;
    height: 30px;
    background-color: white;
    font-size: 18px;
}

.city3 {
    width: 310px;
    height: 252px;
}

.rwl {
    width: 310px;
    height: 252px;
    border-radius: 20px;
    margin-left: 810px;
    margin-top: -250px;
    display: flex;
    transition: all 0.2s linear;
}

.rwl:hover {
    transform: scale(1.1);
}

.rwl-but {
    margin-left: 830px;
    position: absolute;
    margin-top: -50px;
    border: none;
    background-color: white;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: 18px;
}


.city4 {
    width: 310px;
    height: 252px;
}

.lhr {
    width: 310px;
    height: 252px;
    border-radius: 20px;
    margin-left: 1170px;
    margin-top: -250px;
    display: flex;
    transition: all 0.2s linear;
}

.lhr:hover {
    transform: scale(1.1);
}

.lhr-but {
    margin-left: 1190px;
    position: absolute;
    margin-top: -50px;
    border: none;
    background-color: white;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: 18px;
}

.city5 {
    width: 310px;
    height: 250px;
}

.fsl {
    width: 310px;
    height: 250px;
    border-radius: 20px;
    transition: all 0.2s linear;
    margin-left: 110px;
    margin-top: 30px;
}

.fsl:hover {
    transform: scale(1.1);
}

.fsl-but {
    margin-left: 130px;
    position: absolute;
    margin-top: -50px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 18px;
    height: 30px;
}


.city6 {
    width: 310px;
    height: 250px;
}

.guj {
    display: flex;
    margin-top: -220px;
    width: 310px;
    height: 250px;
    border-radius: 20px;
    margin-left: 460px;
    transition: all 0.2s linear;
}

.guj:hover {
    transform: scale(1.1);
}

.guj-but {
    margin-left: 470px;
    margin-top: -50px;
    position: absolute;
    border-radius: 20px;
    border: none;
    width: 60x;
    height: 30px;
    background-color: white;
    font-size: 18px;
}


.city7 {
    width: 310px;
    height: 252px;
}

.bhl {
    width: 310px;
    height: 252px;
    border-radius: 20px;
    margin-left: 810px;
    margin-top: -250px;
    display: flex;
    transition: all 0.2s linear;
}

.bhl:hover {
    transform: scale(1.1);
}

.bhl-but {
    margin-left: 830px;
    position: absolute;
    margin-top: -50px;
    border: none;
    background-color: white;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: 18px;
}


.city8 {
    width: 310px;
    height: 252px;
}

.abt {
    width: 310px;
    height: 252px;
    border-radius: 20px;
    margin-left: 1170px;
    margin-top: -250px;
    display: flex;
    transition: all 0.2s linear;
}

.abt:hover {
    transform: scale(1.1);
}

.abt-but {
    margin-left: 1190px;
    position: absolute;
    margin-top: -50px;
    border: none;
    background-color: white;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: 18px;
}

/* Put us in ur pocket */

.app {
    position: relative;
    background-color: white;
}

.pocket {
    margin-top: 120px;
    margin-left: 110px;
    font-size: 32px;
    font-family: "Open Sans", "arial", "sans-serif";

}

.download {
    margin-left: 50px;
    color: #ffffff;
    margin-top: 100px;

}

.phone {
    margin-left: 700px;
    width: 656px;
    height: 521px;
}

.phn {
    margin-top: -100px;
}

.content {
    margin-top: -580px;
    margin-left: 100px;
    width: 1300px;
    height: 340px;
    background-color: #e21b70;
    border-radius: 20px;
}

.qrr {
    margin-left: 40px;
    background-color: #e21b70;
    margin-top: 70px;
}

.para {
    margin-left: 160px;
    margin-top: -90px;
    font-size: larger;
    color: #ffffff;
    width: 500px;
    font-family: "Open Sans", "arial", "sans-serif";
}

.black {
    margin-top: -120px;
    margin-left: 150px;
}

.blackimg {
    border-radius: 10px;
    border-color: #ffffff;
    border: #ffffff;
}

.black2 {
    margin-top: -55px;
    margin-left: 310px;
}

.black3 {
    margin-top: -55px;
    margin-left: 480px;
}

.apple {
    margin-left: 140px;
    margin-top: -45px;
}

.applepara {
    font-size: x-small;
    margin-left: 197px;
    margin-top: -33px;
    color: #ffffff;
}

.appstore {
    font-weight: bolder;
}

.playstore {
    margin-left: 315px;
    margin-top: -40px;
}

.playstorepara {
    font-size: x-small;
    margin-left: 355px;
    color: #ffffff;
    margin-top: -33px;
}

.playstorespan {
    font-weight: bolder;
}

.appgallery {
    margin-left: 480px;
    margin-top: -45px;
}

.huawei {
    border-radius: 10px;
}




/* last h1 tag styling */
.freasked {
    margin-top: 150px;
    margin-left: 100px;
}

.tick {
    color: #e21b70;
}

.order {
    font-size: x-large;
    font-family: "Open Sans", "arial", "sans-serif"
}

.faqpara {
    font-family: Open Sans, arial, sans-serif
}

.faq {
    font-family: Open Sans, arial, sans-serif
}

.locations {
    margin-left: 100px;
    padding: 10px;
    font-size: larger;
    color: silver;
    font-family: "Open Sans", "arial", "sans-serif"
}

/* International locations */
.color {
    color: gray;

}

.color:hover {
    color: #e21b70;
}

/* footer */
.copyright {
    margin-left: 120px;
}

.press {
    margin-left: 500px;
    margin-top: -45px;
    font-family: "Open Sans", "arial", "sans-serif";
    color: #e21b70;
}

.pc {
    color: #e21b70;
}

.help {
    margin-left: 850px;
    margin-top: -25px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.refunds {
    margin-left: 1200px;
    margin-top: -20px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.pterms {
    margin-left: 500px;
    margin-top: 10px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.terms {
    margin-left: 850px;
    margin-top: -20px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.policy {
    margin-left: 1200px;
    margin-top: -20px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.security {
    margin-left: 500px;
    margin-top: 5px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.fapp {
    margin-left: 850px;
    margin-top: -20px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.rights {
    margin-left: 1200px;
    margin-top: -20px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.careers {
    margin-left: 500px;
    margin-top: 5px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.suggestion {
    margin-left: 850px;
    margin-top: -20px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.corporate {
    margin-left: 1200px;
    margin-top: -20px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.cashback {
    margin-left: 500px;
    margin-top: 5px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.cuisines {
    margin-left: 850px;
    margin-top: -20px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.magazine {
    margin-left: 1200px;
    margin-top: -20px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.partner {
    margin-left: 500px;
    margin-top: 5px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.driver {
    margin-left: 850px;
    margin-top: -20px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.voucher {
    margin-left: 1200px;
    margin-top: -20px;
    font-family: "Open Sans", "arial", "sans-serif"
}

.hero {
    margin-left: 350px;
    margin-top: -133px;
}